/*#challenge-stack {*/
	/*/!*background-color: #d3d3d3;*!/*/
	/*padding-left: 50;*/
	/*padding-right: 50;*/
/*}*/

#challenge-title {
	font-family: Confetti-Stream;
	font-size: 25;
	color: #f89406;
	padding-bottom: 10;
	margin-top: 10;
	horizontal-align: center;
}

/*#challenge-img {*/
	/*border-radius: 20;*/
	/*margin-bottom: 20;*/
	/*height: 200;*/
/*}*/

#challenge-description {
	font-size: 18;
	horizontal-align: center;
	text-align:center;
	padding-bottom: 10;
	padding-left: 10;
	padding-right:10;
	color:antiquewhite;
}

.arrow {
	margin-top: 50;
	width: 135;
}

.arrow-grid{
	margin: 0 50 0 50;
}
