.page-background,{
    background-color: indianred;
}

#done-title {
	font-family: Confetti-Stream;
	font-size: 25;
	color: #f89406;
	padding-bottom: 10;
	margin-top: 10;
	text-align: center;
}

#done-img {
	height: 150;
}

#done-description {
	font-size: 18;
	text-align: center;
	padding-bottom: 10;
	padding-left: 10;
	padding-right:10;
	color:antiquewhite;
}

#done-user {
    font-size: 14;
    font-style: italic;
    color:antiquewhite;
    padding-bottom: 10;
    text-align: center;
}

.done-like-dislike {
	margin-top: 0;
	width: 60;
}

#dislike {
	margin-left: 50;
}

#like {
	margin-right: 50;
}