.title {
    horizontal-align: center;
    text-transform: uppercase;
    font-size: 25;
    color: silver;
}
.text-input {
    display: inline-block;
    width: 300;
    padding: 10 0 10 15;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: white;
    border: 0;
    text-indent: 70px;
    transition: all .3s ease-in-out;
}

.white-button{
    margin:15;
    background-color: white;
    color: black
}

.button {
    font-size: 42;
    horizontal-align: center;
}

/*.message {*/
    /*font-size: 20;*/
    /*color: #284848;*/
    /*horizontal-align: center;*/
/*}*/

.action-bar{
    background-color: black;

}

.page-background,{
    background-color: indianred;
}

.nav-button{
    width: 150;
height: 150
}

/*---fonts---*/
.FontAwesome {
    font-family: FontAwesome;
}

/*.IndieFlower {*/
    /*font-family:IndieFlower;*/
/*}*/

/*.Lobster {*/
    /*font-family:Lobster-Regular;*/
/*}*/

.BuxtonSketch {
    font-family: BuxtonSketch;
}

.GoudySto {
    font-family: GoudySto;
}

/*---main page---*/
.main-action-bar{
    background-color: black;
}

.main-page-segmented-bar{
    background-color: black;
    color: silver;
}

.main-label{
    font-size: 20;
    color: silver;
    padding-bottom: 30;
    horizontal-align: center;
    text-transform: uppercase;
}

/*---account pages---*/
.register-page-background,{
    background-color: cadetblue;
}

.login-page-background{
    background-color: darkseagreen;
}

/*---challenge-to-pick---*/
.challenge-stack {
	background-color: #d3d3d3;
	padding-left: 50;
	padding-right: 50;
}

.challenge-title {
	font-family: Confetti-Stream;
	margin-top: 25;
	margin-bottom: 25;
	font-size: 36;
	text-align: center;
}

.challenge-img {
	border-radius: 20;
	margin-bottom: 20;
}

.challenge-description {
	font-size: 14;
	font-style: italic;
}

.pick-btn {
	margin: 25 5;
	border-radius: 20;
	font-size: 18;
	color: #fff;

}
.decline {
	background-color: red;
}

.accept {
	background-color: green;
}

/*---profile---*/
.profile-image{
    height: 150;
    /*background-size: 100%;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*vertical-align: top;*/
}

.profile-label-title {
    font-size: 20;
    text-transform: uppercase;
    color: #f89406;
    padding: 0 20 0 20;
}

.profile-border{
    border-color:#f89406;
    border-width:1;
    border-radius:10;
    margin: 0 20 0 20;
}

.profile-label{
    font-size: 20;
    color: silver;
    padding-bottom: 20;
    horizontal-align: center;
}

/*---my active challenges---*/

.list-view-challenge-title{
    font-size: 20;
    color: #f89406;
    padding-bottom: 5;
    horizontal-align: center;
}

.list-view-challenge-deadline{
    font-size: 12;
    font-style: italic;
    color:antiquewhite;
    padding-bottom: 10;
    horizontal-align: center;
}

